.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  background-color: var(--background);
  position: sticky;
  top: 50px;
}

.sidebarWrapper {
  padding: 20px;
  color: var(--text);
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 16px;
  font-weight: bolder;
  color: var(--title);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem.active,
.sidebarListItem:hover {
  color: var(--sub-primary);
  background-color: var(--white);
}

.sidebarListItem:hover .sidebarIcon{
  color: var(--sub-primary);
}

.sidebarListItem.active .sidebarIcon{
  color: var(--sub-primary);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
  color: var(--text)
}

.sidebarIconLogout {
  margin-right: 5px;
  font-size: 20px !important;

}

.sidebarListItemLogout {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--white);

}

.sidebarListItemLogout.active,
.sidebarListItemLogout:hover {
  background-color: var(--red);
  color: var(--white);
}