.mainForm {
     display: flex;
     flex-direction: column;
     flex: 1;
     max-height: 500px;
     background-color: var(--background);
     padding: 60px;
     margin: 20px;
     border-radius: 10px;
}

.home {
     display: flex;
     flex-direction: column;
     flex: 6;
}

.lineForm{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
}

fieldset{
     display: flex;
     flex-direction: row;
     border: 1px solid var(--primary);
     padding: 10px !important;
}

fieldset:first-child{
     margin-bottom: 20px !important;
}

legend{
     color: var(--primary);
     font-weight: bold;
     padding-left: 10px !important;
     padding-right: 10px !important;
}

.columnForm{
     display: flex;
     flex-direction: column;

}

.selectForm{
     display: flex;
     flex: 1;
     justify-content: center;
     align-items: center;
}

.groupForm{
     display: flex;
     flex-direction: column;
}

.groupForm div:first-child{
     margin-right: 20px;
}

.radioForm{
     margin-top: 20px;
}

.radioInput{
     margin-top: 10px;
}

.formTitle{
     font-size: 20px;
     font-weight: bold;
     margin-bottom: 10px;
}
